<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap-multisite.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    executionOrder="random"

    >
    <testsuites>
        <testsuite name="aiwmlf-multisite">
            <directory prefix="Test_" suffix=".php">./tests/Multisite/</directory>
        </testsuite>
    </testsuites>

     <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

    <php>
        <env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-config-multisite.php" />
    </php>

    <logging>
        <log type="coverage-clover" target="coverage-report/logs/clover.xml"/>
    </logging>
</phpunit>

