.wp-list-table.reports {
    .column-report-link-archive,
    .column-report-is-broken,
    .column-report-link-checks,
    .column-report-link-exclude {
        max-width: 10%;
        width: 135px;
        text-align: center;
        // from 1200 downwars
        @media (max-width: 1200px) {
            max-width: unset;
            width: unset;
        }
    }
    .column-report-link-checks-last {
        max-width: 30%;
        width: 240px;
        @media (max-width: 1200px) {
            max-width: unset;
            width: unset;
        }
    }
    .dashicons.dashicons-yes-alt,
    .dashicons.dashicons-plus-alt {
        color: #2271b1;
    }
    .report-link-url a:first-of-type {
        display: inline-block;
        max-width: calc(100% - 30px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }
    .report-link-url .dashicons {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }
}

#iawmlf_help_tab_columns {
    .dashicons.dashicons-yes-alt,
    .dashicons.dashicons-plus-alt {
        color: #2271b1;
    }
}

.contextual-help-tabs-wrap {
    .iawmlf_help_tab {
        h3 {
            font-size: 1.2em;
            margin-bottom: 0.25em;
        }
        p {
            margin: 0.25em 0;
        }
    }
}

#iawmlf_help_info_bulk_actions {
    cursor: pointer;
}

.iawmlf-submit-wrapper {
    text-align: right;
}